rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /app_data/current_state {
      // Permitimos lectura y escritura si el formato es un objeto (más flexible para evitar bloqueos por validaciones estrictas)
      allow read: if true;
      allow write: if request.resource.data is map;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
